.git
.github
.cursor
.ai
.phpunit.cache
.phpunit.result.cache
node_modules
vendor
public/build
public/hot
public/fonts-manifest.dev.json
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/pail
.env
.env.*
!.env.docker.example
auth.json
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
*.md
!README.md
tests
.phpactor.json
.fleet
.idea
.nova
.vscode
.zed
